{% extends "choices/base.html" %}
{% block content %}

    <h1>Idea number {{object.id}}</h1>

    
        <div class="card my-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ object.title }}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">{{ object.author }}</h6>
              <p class="card-text">{{ object.description }}</p>
              <p id="preparation-instructions" style="display: none;">{{ object.preparation }}</p>
              <h6 class="card-subtitle mb-2 text-body-secondary">
                {{ object.date_updated|date:"F d, Y" }}</h6>
            </div>
          </div>
          
        <div class="col-4">
          {% if object.author == user or user.is_staff %}
          <a class="btn btn-outline-info" href="{% url 'choices-update' object.id %}">Update</a>
          <a class="btn btn-outline-danger" href="{% url 'choices-delete' object.id %}">Delete</a>
          {% endif %}
        </div>
    

{% endblock content %} 
<!--
{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function(){
            $("#preparation-instructions").hide();
            $("#preparation-instructions").before("<button id='show-preparation-instructions' class='btn btn-outline-info'>Show preparation instructions</button>");
            $("#show-preparation-instructions").click(function(){
                $("#preparation-instructions").toggle();
            });
        });
    </script>
{% endblock scripts %}
-->

{% block extra_scripts %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var preparationInstructions = document.getElementById('preparation-instructions');
    if (preparationInstructions) {
      preparationInstructions.style.display = 'block';
    }
  });
</script>
{% endblock extra_scripts %}