{% extends "choices/base.html" %}
{% block content %}

    <h1>Idea number {{object.id}}</h1>

    
        <div class="card my-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ object.title }}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">{{ object.author }}</h6>
              <p class="card-text">{{ object.description }}</p>
              <h6 class="card-subtitle mb-2 text-body-secondary">{{ object.date_updated|date:"F d, Y" }}</h6>
            </div>
          </div>

        <div class="col-4">
          <a class="btn btn-outline-info" href="{ url 'choices-update' object.id %}">Update</a>
          <a class="btn btn-outline-danger" href="{ url 'choices-delete' object.id %}">Delete</a>
        </div>
    

{% endblock content %} 